<mat-card class="example-card" style="color:rgb(63, 95, 201);">
    <mat-card-header>
        <mat-card-title>Account Name: {{account.accountName}}</mat-card-title>
    </mat-card-header>
</mat-card>

<div class="flex-container" fxLayout.xs="column" style="margin: 10px;">
  <div class="flex-item">
    <div>
      <mat-form-field appearance="standard">
        <mat-label>{{account.shortCode}}</mat-label>
        <input id="textInput" placeholder="Enter ShortCode" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>{{account.accountNumber}}</mat-label>
        <input id="textInput" placeholder="Enter Account Number" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>{{account.accountName}}</mat-label>
        <input id="textInput" placeholder="Enter Account Name" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>{{account.mainTelephone}}</mat-label>
        <input id="textInput" placeholder="Enter Main Telephone" matInput>
      </mat-form-field>
    </div>
    <div>
      <section class="example-section" style="width:200px;">
        <fieldset class="fieldset">
          <legend>Account Type:</legend>
          <mat-checkbox class="example-margin" [(ngModel)]="checked">ExportAccount</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Import Account</mat-checkbox>
        </fieldset>
      </section>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>{{account.country}}</mat-label>
        <input id="textInput" placeholder="Enter Country" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>{{account.tin}}</mat-label>
        <input id="textInput" placeholder="Enter TIN" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>{{account.website}}</mat-label>
        <input id="textInput" placeholder="Enter Website" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Created by" disabled value="{{account.createdBy}}">
      </mat-form-field>
    </div>
  </div>
  <div class="flex-item">
    <div>
      <mat-form-field appearance="standard">
        <mat-label>{{account.accountNumber}}</mat-label>
        <input id="textInput" placeholder="Enter Account Number" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>{{account.fax}}</mat-label>
        <input id="textInput" placeholder="Enter Fax Number" matInput>
      </mat-form-field>
    </div>
    <div>
      <section class="example-section" style="width:300px;">
        <fieldset class="fieldset">
          <legend>Account Type:</legend>
          <mat-checkbox class="example-margin" [(ngModel)]="checked">Customer</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Supplier</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="checked">Prostpect</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Invoicee</mat-checkbox>
        </fieldset>
      </section>
      <div>
        <mat-form-field appearance="standard" style="width:210px;">
          <mat-label>{{account.defaultCurrencyCode}}</mat-label>
          <input id="textInput" placeholder="Enter Default Currency Code" matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Primay Address
              </mat-panel-title>
              <mat-panel-description>
               {{panelOpenState ? 'Hide' : 'Display'}}Address
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <mat-form-field>
                <input matInput placeholder="Street 1">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Street2">
              </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                  <input matInput placeholder="Street 3">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="County">
                </mat-form-field>
              </div>
              <div>
                  <mat-form-field>
                    <input matInput placeholder="Post Code">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Country">
                  </mat-form-field>
                </div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Primary Contact
              </mat-panel-title>
              <mat-panel-description>
                  {{panelOpenState ? 'Hide' : 'Display'}}Contact
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
