<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
      Declaration Types
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-select placeholder="Declaration Types" class="my-select-panel-class">
        <mat-option *ngFor="let declarationType of declarationTypes" [value]="declarationType.value">
          {{declarationType.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
