<!-- <div *ngIf="!account"><mat-spinner></mat-spinner></div>
<div *ngIf="account"> -->
<div class="wrapper">
  <!--Start of matt accordion for declarion types-->
  <div class="declaration-type">
    <mat-accordion>
      <mat-expansion-panel
        [expanded]="displayTypes === true"
        (opened)="(displayTypes === true)"
      >
        <mat-expansion-panel-header
          [collapsedHeight]="customCollapsedHeight"
          [expandedHeight]="customExpandedHeight"
        >
          <mat-panel-title> <h4>Declaration Type</h4> </mat-panel-title>
          <label>
            <input
              class="form-check-input"
              type="checkbox"
              (change)="checkChanged($event.target.checked)"
              [checked]="displayTypes"
            />
            Display Types?
          </label>
        </mat-expansion-panel-header>

        <div class="controls-wrapper">
          <div class="flex-container">
            <!--Start of  declaration type controls-->
            <div class="flex-item-declarationType">
              <label class="field-label labelAlignment">
                Decln Type [01]:
                <mat-select class="declaration-type-combobox">
                  <mat-option
                    *ngFor="let declarationType of declarationTypes"
                    [value]="declarationType.value"
                  >
                    {{ declarationType.value }}
                  </mat-option>
                </mat-select>
              </label>
            </div>
            <div class="flex-item-badgeCode">
              <label class="field-label labelAlignment">
                Badge Codes:
                <mat-select class="badge-codes-combobox">
                  <mat-option *ngFor="let badge of badges" [value]="badge.code">
                    {{ badge.code }} - {{ badge.name }}
                  </mat-option>
                </mat-select>
              </label>
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item-traderReference">
              <label class="field-label labelAlignment">
                Trader Reference [07]:
                <input
                  matInput
                  type="text"
                  [(ngModel)]="TraderReferenceValue"
                  class="trader-reference-inputBox"
                />
                <button
                  mat-button
                  *ngIf="TraderReferenceValue"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="TraderReferenceValue = ''"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </label>
            </div>
          </div>
        </div>
        <!--End of  declaration type controls-->
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!--End of matt accordion for declarion types-->

  <!--Start of matt accordion for parties-->
  <div class="declaration-parties">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header
          [collapsedHeight]="customCollapsedHeight"
          [expandedHeight]="customExpandedHeight"
        >
          <mat-panel-title> <h4>Declaration Parties</h4> </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="controls-wrapper">
          <div class="flex-container">
            <!--Start of  declaration party controls-->
            <div class="flex-item-declarationPary-left">
              <mat-accordion class="party-headers-align">
                <mat-expansion-panel class="partyExpansionPanel">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Exporter [02] </mat-panel-title>
                    <mat-panel-description>
                      Account Name: {{ ExporterAccountName }}
                      <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div class="controls-wrapper">
                    <div class="flex-container">
                      <div class="flex-item-party-controls-left">
                        <label class="labelAlignment">
                          Short Code:
                          <input
                            matInput
                            type="text"
                            [(ngModel)]="ExporterShortCode"
                            class="party-inputBox"
                          />
                          <button
                            mat-button
                            *ngIf="ExporterShortCode"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="ExporterShortCode = ''"
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                        </label>
                      </div>
                      <div class="flex-item-party-controls-right">
                        <label class="labelAlignment">
                          Name:
                          <input
                            matInput
                            type="text"
                            [(ngModel)]="ExporterAccountName"
                            class="party-inputBox party-inputBox-margin party-inputBox-width"
                          />
                          <button
                            mat-button
                            *ngIf="ExporterAccountName"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="ExporterAccountName = ''"
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                        </label>
                      </div>
                    </div>
                  </div>
                  <mat-action-row> </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="flex-item-declarationPary-right">
              <mat-accordion class="party-headers-align">
                <mat-expansion-panel class="partyExpansionPanel">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Importer [08] </mat-panel-title>
                    <mat-panel-description>
                      Account Name: {{ ImorterAccountName }}
                      <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div class="controls-wrapper">
                    <div class="flex-container">
                      <div class="flex-item-party-controls-left">
                        <label class="labelAlignment">
                          Short Code:
                          <input
                            matInput
                            type="text"
                            [(ngModel)]="ImporterShortCode"
                            class="party-inputBox"
                          />
                          <button
                            mat-button
                            *ngIf="ImporterShortCode"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="ImporterShortCode = ''"
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                        </label>
                      </div>
                      <div class="flex-item-party-controls-right">
                        <label class="labelAlignment">
                          Name:
                          <input
                            matInput
                            type="text"
                            [(ngModel)]="ImorterAccountName"
                            class="party-inputBox party-inputBox-margin party-inputBox-width"
                          />
                          <button
                            mat-button
                            *ngIf="ImorterAccountName"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="ImporterAccountName = ''"
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                        </label>
                      </div>
                    </div>
                  </div>

                  <mat-action-row> </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </div>

            <div class="flex-item-declarationPary-left">
              <mat-accordion class="party-headers-align">
                <mat-expansion-panel class="partyExpansionPanel">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Declarant [14] </mat-panel-title>
                    <mat-panel-description>
                      Account Name: {{ DeclarantAccountName }}
                      <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div class="controls-wrapper">
                    <div class="flex-container">
                      <div class="flex-item-party-controls-left">
                        <label class="labelAlignment">
                          Short Code:
                          <input
                            matInput
                            type="text"
                            [(ngModel)]="DeclarantShortCode"
                            class="party-inputBox"
                          />
                          <button
                            mat-button
                            *ngIf="DeclarantShortCode"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="DeclarantShortCode = ''"
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                        </label>
                      </div>
                      <div class="flex-item-party-controls-right">
                        <label class="labelAlignment">
                          Name:
                          <input
                            matInput
                            type="text"
                            [(ngModel)]="DeclarantAccountName"
                            class="party-inputBox party-inputBox-margin party-inputBox-width"
                          />
                          <button
                            mat-button
                            *ngIf="DeclarantAccountName"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="DeclarantAccountName = ''"
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                        </label>
                      </div>
                    </div>
                  </div>
                  <mat-action-row> </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="flex-item-declarationPary-right">
              <mat-accordion class="party-headers-align">
                <mat-expansion-panel class="partyExpansionPanel">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Represent. [14] </mat-panel-title>
                    <mat-panel-description>
                      Account Name: {{ RepresentitiveAccountName }}
                      <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div class="controls-wrapper">
                    <div class="flex-container">
                      <div class="flex-item-party-controls-left">
                        <label class="labelAlignment">
                          Short Code:
                          <input
                            matInput
                            type="text"
                            [(ngModel)]="RepresentitiveShortCode"
                            class="party-inputBox"
                          />
                          <button
                            mat-button
                            *ngIf="RepresentitiveShortCode"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="RepresentitiveShortCode = ''"
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                        </label>
                      </div>
                      <div class="flex-item-party-controls-right">
                        <label class="labelAlignment">
                          Name:
                          <input
                            matInput
                            type="text"
                            [(ngModel)]="RepresentitiveAccountName"
                            class="party-inputBox party-inputBox-margin party-inputBox-width"
                          />
                          <button
                            mat-button
                            *ngIf="RepresentitiveAccountName"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="RepresentitiveAccountName = ''"
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                        </label>
                      </div>
                    </div>
                  </div>

                  <mat-action-row> </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>

        <!--End of  declaration type controls-->
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<!--End of matt accordion for parties-->
